<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if page.title %}
    {% assign title = page.title %}
  {% elsif site.title %}
    {% assign title = site.title %}
  {% endif %}
  {% if title %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="twitter:title" content="{{ title }}" />
  {% endif %}

  {% if page.subtitle %}
    {% assign description = page.subtitle %}
  {% elsif site.description %}
    {% assign description = site.description %}
  {% endif %}
  {% if description %}
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="twitter:description" content="{{ description }}" />
  {% endif %}

  <meta name="author" content="{{ site.author.name }}" />

  {% if page.tags.size > 0 %}
    {% assign keywords = page.tags | sort | join: "," %}
  {% else %}
    {% assign keywords = site.keywords %}
  {% endif %}
  <meta name="keywords" content="{{ keywords }}" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ 'feed.xml' | absolute_url }}" />

  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | absolute_url }}" />
    {% endfor %}
  {% endif %}

  {% if layout.common-googlefonts %}
    {% for font in layout.common-googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  {% endif %}

  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | absolute_url }}" />
    {% endfor %}
  {% endif %}

  {% if page.googlefonts %}
    {% for font in page.googlefonts %}
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ font }}" />
    {% endfor %}
  {% endif %}

  <!-- Facebook OpenGraph tags -->
  {% if page.layout == "post" %}
    <meta property="og:type" content="article" />
    <meta property="og:article:author" content="{{ site.author.name }}" />
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}

  {% if page.id %}
    {% assign ogurl = page.url | absolute_url %}
  {% else %}
    {% assign ogurl = page.url | remove: '/index.html' | remove: '.html' | absolute_url %}
  {% endif %}
  <meta property="og:url" content="{{ ogurl }}/" />

  {% if page.fb-img %}
    {% assign ogimage = page.fb-img %}
  {% elsif site.avatar %}
    {% assign ogimage = site.avatar | absolute_url %}
  {% endif %}
  {% if ogimage %}
    <meta property="og:image" content="{{ ogimage }}" />
    <meta property="twitter:image" content="{{ ogimage }}" />
  {% endif %}

  <meta name="twitter:card" content="summary" />
  {% if site.author.twitter %}
    <meta property="twitter:site" content="@{{ site.author.twitter }}" />
    <meta property="twitter:creator" content="@{{ site.author.twitter }}" />
  {% endif %}
</head>
